---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-servers
  namespace: pgadmin
data:
  servers.json: |
    {
      "Servers": {
        "1": {
          "Name": "PostgreSQL Cluster",
          "Group": "Servers",
          "Host": "postgresql-cluster-rw.databases.svc.cluster.local",
          "Port": 5432,
          "MaintenanceDB": "postgres",
          "Username": "scott"
        }
      }
    }
