---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pgadmin
  namespace: pgadmin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      pgadmin:
        containers:
          app:
            image:
              repository: dpage/pgadmin4
              tag: 9.12.0@sha256:10137f33be7ed61e47f56004493710cb5b80ba7fb0ca01758855e242f1f284a7
            env:
              PGADMIN_DEFAULT_EMAIL:
                valueFrom:
                  secretKeyRef:
                    name: pgadmin-secret
                    key: email
              PGADMIN_DEFAULT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: pgadmin-secret
                    key: password
              PGADMIN_CONFIG_SERVER_MODE: "False"
              PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
              PGADMIN_CONFIG_SESSION_DB_PATH: "'/tmp/sessions'"
              PGADMIN_CONFIG_STORAGE_DIR: "'/tmp/storage'"
            securityContext:
              runAsUser: 5050
              runAsGroup: 5050
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false

    service:
      app:
        controller: pgadmin
        ports:
          http:
            port: 80

    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      servers:
        type: configMap
        name: pgadmin-servers
        globalMounts:
          - path: /pgadmin4/servers.json
            subPath: servers.json
            readOnly: true
