---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adminer
  namespace: adminer
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      adminer:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: adminer
              tag: 5.4.1-standalone@sha256:a3167350c4eb9ae4473b8ea0f49c8e5ae74c87b240ee2f6086521dba2a6bf243
            ports:
              - containerPort: 8080
            env:
              ADMINER_DEFAULT_SERVER: postgresql-cluster-rw.databases.svc.cluster.local
              ADMINER_DESIGN: dracula
              ADMINER_PLUGINS: ""
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
    service:
      app:
        controller: adminer
        ports:
          http:
            port: 8080
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
