---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/gitrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  secretRef:
    name: flux-system
  url: https://github.com/scottmckendry/axis.git
---
# NOTE: This Kustomization now only manages the flux-system namespace itself.
# All other resources are managed by layered Kustomizations defined in:
#   - infrastructure.yaml
#   - core-services.yaml
#   - platform.yaml
#   - apps.yaml
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./kubernetes/flux-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
