---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: akahu-actual
  namespace: actual
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: actual
      namespace: actual
  values:
    controllers:
      akahu-actual:
        type: cronjob
        cronjob:
          schedule: 49 * * * *
        containers:
          tag:
            image:
              repository: ghcr.io/scottmckendry/akahu-actual
              tag: v0.8.0@sha256:e7063daaa4bdbcbd35f7d370509d0e00aa24c0447e27a4daa03ba1208f261c59
            envFrom:
              - secretRef:
                  name: akahu-actual-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
            readOnly: false
