---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: capacity-fishing
  namespace: capacity-fishing
spec:
  schedule: "*/3 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 0
      ttlSecondsAfterFinished: 300
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: azure-deploy
              image: mcr.microsoft.com/azure-cli:latest
              command: ["/bin/bash", "/script/deploy.sh"]
              env:
                - name: AZURE_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-credentials
                      key: clientId
                - name: AZURE_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: azure-credentials
                      key: clientSecret
                - name: AZURE_TENANT_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-credentials
                      key: tenantId
                - name: AZURE_SUBSCRIPTION_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-credentials
                      key: subscriptionId
                - name: AZURE_RESOURCE_GROUP
                  value: "iw-aiac-prod"
              volumeMounts:
                - name: script
                  mountPath: /script
                  readOnly: true
                - name: deployment-template
                  mountPath: /deployment
                  readOnly: true
          volumes:
            - name: script
              configMap:
                name: capacity-fishing-script
                defaultMode: 0755
            - name: deployment-template
              secret:
                secretName: deployment-template
