---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudbeaver
  namespace: cloudbeaver
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      cloudbeaver:
        containers:
          app:
            image:
              repository: dbeaver/cloudbeaver
              tag: 25.3.4@sha256:ffbefbc6591ba6ec25d77546e6050e4b62220dbef01b3532b4c442ce5320cc16
            ports:
              - containerPort: 8978
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: cloudbeaver
        ports:
          http:
            port: 8978
    persistence:
      workspace:
        existingClaim: cloudbeaver-workspace
        globalMounts:
          - path: /opt/cloudbeaver/workspace
