---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ccinvoice
  namespace: ccinvoice
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: ghcr.io/scottmckendry/ccinvoice
              tag: v4.1.0@sha256:48729d8a5a2575a7478e8db643a3dc4af9113090b8eb09da6485f40c864232ee
            envFrom:
              - secretRef:
                  name: ccinvoice-secrets
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
